html {
  scroll-behavior: smooth;
  height: auto;
}
body {
  background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  color: white;
}
.vh {
  height: 10vh;
}
.title-color {
  background-image: linear-gradient(
    to right,
    #6fa6f8,
    #5992ec,
    #447fdf,
    #2c6cd2,
    #0659c4
  );
}

.card {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 15px;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#todayCard {
 
  padding: 1rem;
  border-radius: 15px;
  height: 50vh;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 2px;
  
}
.today-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: pink solid 2px;
}
.main-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: salmon solid 2px;
}
.card-deck {
  gap: 3em;
  width: 100%;
  
  height: 8vh;
}

.btn {
  margin-left: 20px !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}
.main {
  width: 100%;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: saddlebrown solid 2px;
}

.forecast-container{
  height: 50vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  border: orange solid 2px;
}

#forecast {
  
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: purple solid 2px;
}
#forecast div {
  border: yellow solid 2px;
}
.weather-footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 1px green;
}

.weather-footer p {
  margin: 0;
}
.temp-container{
  
    display: flex;
    flex-direction: row-reverse;
    height: 25vh;
    width: 30%;
    justify-content: center;
    border: #0659c4 solid 2px;

}
.temp-container img {
  width: 200px;
  height: 200px;
  color: white;
  border: red solid 2px;
}
.tempAndMessage{
  font-size: 50px;
  border: green solid 2px;
}
.tempAndMessage p {
  margin-top: 1rem;
}
#hourly{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: #0659c4 solid 2px;
}
#hourly div {
  border: yellow solid 2px;
  gap: 4rem;
  width: 150px;
}
.hourly-container{
  width: 100%;
}