html {
  scroll-behavior: smooth;
  height: auto;
}
body {
  background-color: #70a1ff;
  background-image: linear-gradient(315deg, #70a1ff 0%, #c2c0c0 74%);
  height: auto;
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}
.vh {
  height: 10vh;
}
.title-color {
  background-image: linear-gradient(
    to right,
    #6fa6f8,
    #5992ec,
    #447fdf,
    #2c6cd2,
    #0659c4
  );
}

.card {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 15px;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#todayCard {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-deck {
  gap: 3em;
  width: 100%;
  
  height: 8vh;
}

.btn {
  margin-left: 20px !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

#forecast {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.weather-footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.weather-footer p {
  margin: 0;
}
