html {
  scroll-behavior: smooth;
  height: auto
}
body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(0,212,255,1) 100%);
height: auto;
width: 100%;
display: flex; /* Use flexbox to center the content */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-direction: column; 
}
.vh {
  height: 10vh;
}
.title-color {
  background-image: linear-gradient(
    to right,
    #6fa6f8,
    #5992ec,
    #447fdf,
    #2c6cd2,
    #0659c4
  );
}
/* .card {
  margin-top: 4%;
  margin-left: 3%;
  border: transparent;
} */
.card{
  background: #ffffff; /* Set the background color to white */
  display: flex; /* Use flexbox to center the content */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-direction: column; /* Stack the content vertically */
}

.history li {
  height: 2.5em;
  background-color: rgb(143, 143, 143);
}
.card-deck {
  gap: 3em;
  width: 100%;
  height: 8vh;
}
.custom-left-margin{
  margin-left: 1rem;
}
.btn {
  margin-left: 20px !important;
}



.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}